// Apply a parent class that all other classes are nested under. This ensures
// component classes won't affect elements outside of this component.
.person {

  h1 {
    // TODO: Resolve issue where class ".home h1" is actually being used
    color: #3333FF;
  }

  h2 {
    margin: 3px 0;
    font-size: 1.2em;
  }

  .lead {
    margin-top: -3px;
    font-size: 1.2em;
  }

}