// Use BEM naming convention so class names won't clash with other components
.person__main-heading {
  color: #3333FF;
  margin-bottom: 0;
}

.person__section-heading {
  margin: 3px 0;
  font-size: 1.15em;
}
