// Apply a parent class that all other classes are nested under. This ensures
// component classes won't affect elements outside of this component.
.person {

  h1 {
    box-sizing: content-box;
    border-radius: 0;
    color: #3333FF;
    text-overflow: clip;
    text-shadow: 0 1px 0 rgb(128,141,147) , -1px 0 0 rgb(205,210,213) , -1px 2px 0 rgb(128,141,147) , -2px 1px 0 rgb(205,210,213) , -2px 3px 0 rgb(128,141,147) , -3px 2px 0 rgb(205,210,213) , -3px 4px 0 rgb(128,141,147) , -4px 3px 0 rgb(205,210,213) , -4px 5px 0 rgb(128,141,147) , -5px 4px 0 rgb(205,210,213) , -5px 6px 0 rgb(128,141,147) , -6px 5px 0 rgb(205,210,213) , -6px 7px 0 rgb(128,141,147) , -7px 6px 0 rgb(205,210,213) , -7px 8px 0 rgb(128,141,147) , -8px 7px 0 rgb(205,210,213) ;
  }

  h2 {
    margin: 3px 0;
    font-size: 1.2em;
  }

  .lead {
    margin-top: -3px;
    font-size: 1.2em;
  }

}